#enable_html_escaping()
<div id="addcomment" class="module">
    ${commentHtml}
    #if($shouldAttachAddCommentEventHandler)
        <jira-create-comment-form></jira-create-comment-form>
    #end
</div>
