#* @vtlvariable name="comment" type="com.atlassian.jira.issue.comments.Comment" *#
#* @vtlvariable name="action" type="com.atlassian.jira.issue.tabpanels.CommentAction" *#

#disable_html_escaping()
#if (($requestContext.getRequestParameter('focusedId') && "$action.comment.id" == $requestContext.getRequestParameter('focusedId'))
    || ($requestContext.getRequestParameter('focusedCommentId') && "$action.comment.id" == $requestContext.getRequestParameter('focusedCommentId')))
    #set ($focusedComment = " focused")
#end
#if (${action.collapsed})
    #set ($collapsedClass = " collapsed")
#else
    #set ($collapsedClass = " expanded")
#end
#set ($commentUrl = "${requestContext.baseUrl}/browse/${action.issue.key}?focusedId=${action.comment.id}&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel\#comment-${action.comment.id}")
<div id="comment-${action.comment.id}" class="issue-data-block activity-comment twixi-block $collapsedClass$!focusedComment">
    <div class="twixi-wrap verbose actionContainer">
        <div class="action-head">
            <button aria-label="$i18n.getText("common.words.comment.collapse")" title="$i18n.getText("common.words.comment.collapse")" class="twixi icon-default aui-icon aui-icon-small aui-iconfont-expanded"></button>
            <div class="action-details">#actionDetailsBody($action $i18n "verbose")</div>
        </div>
        <div class="action-body flooded">#if($renderedContent)$renderedContent #else #makelinkedhtml ( $action.comment ) #end</div>
        <div class="action-links action-comment-actions">
        #if ($action.canEditComment)
            <a id="edit_comment_${action.comment.id}" href="${requestContext.baseUrl}/secure/EditComment!default.jspa?id=${action.issue.id}&commentId=${action.comment.id}"
               title="$i18n.getText('common.words.edit')" class="edit-comment issue-comment-action">$i18n.getText('common.words.edit')</a>
            <span class="action-links__divider"></span>
        #end
        #if ($action.canDeleteComment)
            <a id="delete_comment_${action.comment.id}" href="${requestContext.baseUrl}/secure/DeleteComment!default.jspa?id=${action.issue.id}&commentId=${action.comment.id}"
               title="$i18n.getText('common.words.delete')" class="delete-comment issue-comment-action">$i18n.getText('common.words.delete')</a>
            <span class="action-links__divider"></span>
        #end
        #if ($action.commentReactionsEnabled)
            <jira-comment-reactions data-commentid="${action.comment.id}" data-canreact="${action.canReact}"></jira-comment-reactions>
        #end
        </div>
    </div>
    <div class="twixi-wrap concise actionContainer">
        <div class="action-head">
            <button aria-label="$i18n.getText("common.words.comment.expand")" title="$i18n.getText("common.words.comment.expand")" class="twixi icon-default aui-icon aui-icon-small aui-iconfont-collapsed"></button>
            <div class="action-details flooded">
                #actionDetailsBody($action $i18n "concise" $commentUrl)
                #if($renderedContent) $velocityhelper.removeHtmlTags($renderedContent) #else $velocityhelper.removeHtmlTags($action.comment) #end
            </div>
        </div>
    </div>
</div>
