#disable_html_escaping()
#parse("templates/email/includes/issueplugins.vm")
#if(${originalcomment.getId()})
    [ ${baseurl}/browse/${issue.getKey()} ]
#end


#if($remoteUser.displayName)
    $i18n.getText("template.issue.deleted.comment.on", $remoteUser.displayName, $issue.getKey())
    #dashes($!remoteUser.displayName)--------------#dashes($issue.getKey())-
#end
#if($changelog)
    #changes([])
#end

#originalcomment()
#originalvisibilityText()

#parse("templates/email/text/includes/issuesummary.vm")

#parse("templates/email/text/includes/footer.vm")