<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Connect Champs</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body>
<center><h1>CONNECT CHAMPS</h1></center>

<center><img src="{% static 'logo.jpg' %}" alt="Connect Champs" width="50" height="60"></center>

<br>
<center><h1>Welcome to our company portal</h1></center>
<br>
<br>
<center><a href="members/">Meet Our Members</a> <img src="{% static 'm.jpg' %}" alt="Connect Champs" width="50" height="60"></center>
<br>
<br>
<br>
<center><a href="courses/">Courses we Offer</a> <img src="{% static 'courses.jpg' %}" alt="Connect Champs" width="50" height="60"></center>

</body>
</html>