{namespace JIRA.Templates.Form.IconRequired}

/**
 * Icon indicating required form field
 */
{template .render}
    <span class="visually-hidden">{getText('admin.common.words.required')}</span>
    <span class="aui-icon icon-required" aria-hidden="true"></span>
{/template}
