#disable_html_escaping()
## @vtlvariable name="allVisibleProjects" type="java.util.List<org.ofbiz.core.entity.GenericValue>"
## @vtlvariable name="recentProjects" type="java.util.Set<org.ofbiz.core.entity.GenericValue>"
## @vtlvariable name="selectedProjects" type="java.util.Set<org.ofbiz.core.entity.GenericValue>"
## @vtlvariable name="selectedProjectIds" type="java.util.Set<java.lang.String>"
#if (!$allVisibleProjects.isEmpty())
    $!{auiparams.put("controlHeaderClass", "aui-field-project")}
    #searcherEditHeader ("pid" ${i18n.getText($searcherNameKey)})
    #set ($defaultMaxOptionsNumber = $allVisibleProjects.size())
    #if ($displayParameters.checkboxmultiselect)
        <select class="js-project-checkboxmultiselect"
                data-placeholder-text="${i18n.getText('common.filters.findprojects')}"
                id="searcher-pid"
                multiple="multiple"
                name="pid">
            #if (!$recentProjects.isEmpty())
                <optgroup label="$i18n.getText('menu.project.recent')">
                    #foreach ($project in $recentProjects)
                        #if (!$selectedProjects.contains($project))
                            #toOption($project false)
                        #end
                    #end
                </optgroup>
            #end
            #set ($limit = $numberTool.toNumber($displayParameters.maxOptionsNumber).intValue())
            #if (!$limit)
                #set ($limit = $defaultMaxOptionsNumber)
            #end
            #set($projectsLeft = $allVisibleProjects.size() - $selectedProjects.size() - $recentProjects.size() - $limit)
            <optgroup label="$i18n.getText('menu.project.all')" #if($projectsLeft > 0)data-footer-text="$i18n.getText('common.concepts.too.many.matches', $projectsLeft)"#end>
                #foreach ($project in $selectedProjects)
                    #toOption($project true)
                #end

                #set ($count = 1)
                #foreach ($project in $allVisibleProjects)
                    #if ($count > $limit)
                        #break
                    #end
                    #set ($isNotRecentOrSelected = !$selectedProjects.contains($project) && !$recentProjects.contains($project))
                    #if ($isNotRecentOrSelected)
                        #toOption($project false)
                        #set ($count = $count + 1)
                    #end
                #end
            </optgroup>
        </select>
    #else
        <select class="select" id="searcher-pid" multiple="multiple" name="pid" size="#minSelectSize ($allVisibleProjects 1 5)">
            <option class="headerOption" #if (!$selectedProjectIds || $selectedProjectIds.empty) selected="selected"#end value="-1">${i18n.getText('common.filters.allprojects')}</option>
            #foreach ($project in $allVisibleProjects)
                #set ($name = $textutils.htmlEncode($project.getString('name')))
                #if ($project && $selectedProjectIds && $selectedProjectIds.contains($project.getString('id')))
                    <option selected="selected" title="$name" value="$project.getLong('id')">$name</option>
                #else
                    <option title="$name" value="$project.getLong('id')">$name</option>
                #end
            #end
        </select>
    #end
    #searcherEditFooter ("pid" '')
    $!{auiparams.clear()}
#end

#macro(toOption $project $isSelected)
    #set ($avatarUrl = "/secure/projectavatar?pid=$project.id&size=small" )
    #set ($name = $textutils.htmlEncode($project.name))
    <option data-icon="#getNormalizedUrl($avatarUrl)"
            #if ($isSelected) selected="selected" #end
            title="$name"
            value="$project.id">
        $name ($project.key)
    </option>
#end