#disable_html_escaping()

<h2>#text('jira.safeguards.email.issue.comments.configuration.title')</h2>
<p>#text('jira.safeguards.email.issue.comments.configuration.limit'): $event.limit</p>
<p>#text('jira.safeguards.email.issue.comments.configuration.warning.threshold'): $i18n.getText("jira.safeguards.email.issue.comments.configuration.warning.threshold.body", $threshold)</p>

#if ($event.restrictedGroupsText == "")
    <p>#text('jira.safeguards.email.issue.comments.restricted.groups'): #text('jira.safeguards.email.issue.comments.restricted.groups.not.specified')</p>
#else
    <p>#text('jira.safeguards.email.issue.comments.restricted.groups'): $textutils.htmlEncode($event.restrictedGroupsText)</p>
#end

<p><a href="${baseurl}/secure/admin/AdvancedApplicationProperties.jspa">#text("jira.safeguards.email.issue.comments.review.settings")</a></p>
<p>#text("jira.safeguards.email.issue.comments.documentation.reference")</p>
