#disable_html_escaping()

<h2>#text('jira.safeguards.email.issue.comments.event.details.title')</h2>
<p>#text('jira.safeguards.email.issue.comments.event.details.datetime'): $dateTimeFormatter.withStyle("COMPLETE").format($event.created)</p>
<p>#text('jira.safeguards.email.issue.comments.event.details.executor'): $textutils.htmlEncode($event.executor)</p>
<p>#text('jira.safeguards.email.issue.comments.event.details.author'): $textutils.htmlEncode($event.author)</p>
<p>#text('jira.safeguards.email.issue.comments.event.details.issue'): <a href="${baseurl}/browse/${event.issueKey}">$event.issueKey</a></p>
<p>#text('jira.safeguards.email.issue.comments.event.details.comments.count'): $event.commentsCount</p>
<p>#text('jira.safeguards.email.issue.comments.event.details.ip.address'): $textutils.htmlEncode($event.ipAddress)</p>
<p>#text('jira.safeguards.email.issue.comments.event.details.more.info')</p>
